<md-button class="img_supervise md-raised md-primary md-hue-2" ng-href="#/manage" aria-label="image_supervise">
    <md-icon md-svg-src='views/images/image.svg'></md-icon><br>图片管理
</md-button>
<md-button class="article_supervise md-raised md-primary md-hue-1" ng-href="#/the_article">
    <md-icon md-svg-src='views/images/sketchbook.svg'></md-icon><br>文章管理
</md-button>
<md-button class="map_supervise md-raised md-primary md-hue-3" ng-href="#/choose_province">
    <md-icon md-svg-src='views/images/map.svg'></md-icon><br>地图管理
</md-button>
